@{
    ViewBag.Title = "Continuum Asset Library";
    Layout = "~/Views/Shared/_layout.cshtml";
}

@section Css
{
    <link rel="stylesheet" type="text/css" href="~/Content/App/asset-library.css" />
}

@section Scripts
{
    <script src="~/Scripts/App/assetService.js"></script>
    <script src="~/Scripts/App/assetLibrary.js"></script>
}

<script id="itemTemplate.html" type="text/ng-template">
    <span class="glyphicon" ng-class="{'glyphicon-folder-close':isClosedFolder(item), 'glyphicon-folder-open':isOpenFolder(item), 'glyphicon-briefcase':isPackage(item)}"></span>
    <span>{{ item.name }}</span>
    <a ng-repeat="item in item.children" ng-include="'itemTemplate.html'" class="list-group-item" ng-class="{active:item.expanded, hiddenItem:!$parent.$parent.item.expanded, visibleItem:$parent.$parent.item.expanded}" ng-click="onItemClick($event)"></a>
</script>

<h2>Continuum Asset Library</h2>
<div class="list-group" ng-controller="AssetLibController">
    <div ng-model="folder" ng-include="'itemTemplate.html'"></div>
</div>
